<div class="card">
  <div class="top-section">
    <div class="title" *ngIf="index > 0">
      Вопрос №{{index}}
    </div>
    <div class="subtitle">
      {{questionData.question}}
    </div>
    <section class="section">
      <mat-checkbox 
      *ngFor="let variant of questionData.variants; let i = index"
      [checked]="selected === i"
      (change)="selected = i"
      color="primary"
      class="checkbox">
        <div class="varik">
          {{variant}}
        </div>
      </mat-checkbox>
    </section>  
  </div>
  <button
    mat-button 
    class="next"
    (click)="closeDialog(questionData.variants[selected], selected)">
    Дальше
  </button>
</div>